<a class="eventLink" style="display:block" href="{{event.url}}">
  <div class="eventItemWrapper">
    <div class="categoryText"><span>{{event.category}}</span></div>
    <div class="titleText"><span>{{event.title}}</span></div>

    <div class="speakerContainer">
      {{#if event.speakers}}
        <div class="speakerWrapper">
          <span class="speaker text">With </span>
          <div class="speakerList">
            {{#each event.speakers as |speaker|}}
              <div class="speaker">
                <span class="speakerText">{{{speaker}}}</span>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </div>

    <div class="timesWrapper">
      <div class="startTime"><span>{{event.startTime}}</span></div>
      <div class="endTime"><span>{{event.endTime}}</span></div>
    </div>
  </div>
</a>